{{ 'shopify_common.js' | shopify_asset_url | script_tag }}

<div class="container mb-5">
  <div class="text-center" style="padding-top: 5vw;">
    <p class="page-heading" style="color: #0069a7;">{{ 'customer.addresses.title' | t }}</p>
  </div>
</div>
<div class="container customer-addresses">
  <div class="row">
    {%- paginate customer.addresses by 5 -%}
      <div class="col col-12">
        <a href="{{ routes.account_url }}">
          {{ 'customer.account.return' | t }}
        </a>
        <div>
          <div class="text-end mb-4">
            <button
              class="btn btn-primary"
              aria-expanded="false"
              aria-controls="AddAddress"
              data-bs-toggle="collapse"
              data-bs-target="#AddAddress"
            >
              {{ 'customer.addresses.add_new' | t }}
            </button>
          </div>
          
          <div id="AddAddress"  class="collapse mb-3">
            <h3 id="AddressNewHeading">{{ 'customer.addresses.add_new' | t }}</h3>
            {%- form 'customer_address', customer.new_address, aria-labelledBy: 'AddressNewHeading' -%}
              <div class="mb-3">         
                <label class="form-label" for="AddressFirstNameNew">{{ 'customer.addresses.first_name' | t }}</label>
                <input class="form-control" type="text" id="AddressFirstNameNew" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
              </div>
              <div class="mb-3">          
                <label class="form-label" for="AddressLastNameNew">{{ 'customer.addresses.last_name' | t }}</label>
                <input class="form-control" type="text" id="AddressLastNameNew" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
              </div>
              <div class="mb-3">          
                <label class="form-label" for="AddressCompanyNew">{{ 'customer.addresses.company' | t }}</label>
                <input class="form-control" type="text" id="AddressCompanyNew" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
              </div>
              <div class="mb-3">          
                <label class="form-label" for="AddressAddress1New">{{ 'customer.addresses.address1' | t }}</label>
                <input class="form-control" type="text" id="AddressAddress1New" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
              </div>
              <div class="mb-3">          
                <label class="form-label" for="AddressAddress2New">{{ 'customer.addresses.address2' | t }}</label>
                <input class="form-control" type="text" id="AddressAddress2New" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
              </div>
              <div class="mb-3">          
                <label class="form-label" for="AddressCityNew">{{ 'customer.addresses.city' | t }}</label>
                <input class="form-control" type="text" id="AddressCityNew" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
              </div>
              <div class="mb-3">
                <label class="form-label" for="AddressCountryNew">{{ 'customer.addresses.country' | t }}</label>
                <div class="select">
                  <select
                    id="AddressCountryNew"
                    name="address[country]"
                    data-default="{{ form.country }}"
                    autocomplete="country"
                    class="form-select"
                  >
                    {{ all_country_option_tags }}
                  </select>
                </div>
              </div>
              <div id="AddressProvinceContainerNew" style="display: none">
                <label class="form-label" for="AddressProvinceNew">{{ 'customer.addresses.province' | t }}</label>
                <div class="select">
                  <select
                    class="form-select"
                    id="AddressProvinceNew"
                    name="address[province]"
                    data-default="{{ form.province }}"
                    autocomplete="address-level1"
                  >
                  </select>
                </div>
              </div>
              <div class="mb-3">
                <label class="form-label" for="AddressZipNew">{{ 'customer.addresses.zip' | t }}</label>
                <input class="form-control" type="text" id="AddressZipNew" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
              </div>
              <div class="mb-3">
                <label class="form-label" for="AddressPhoneNew">{{ 'customer.addresses.phone' | t }}</label>
                <input class="form-control" type="tel" id="AddressPhoneNew" name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
              </div>
              <div class="mb-3">
                <label class="form-label" for="address_default_address_new">{{ 'customer.addresses.set_default' | t }}</label>
                {{ form.set_as_default_checkbox }}
              </div>
              <div class="text-end mt-3">
                <button class="btn btn-primary submit-buttonm mr-3">{{ 'customer.addresses.add' | t }}</button>
                <button class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#AddAddress" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
              </div>
            {%- endform -%}
          </div>
        </div>
      </div>
      <div class="col col-12">
        <div class="card">
          <ul role="list-group list-group-flush" style="padding-left: initial;margin-bottom: initial;">
            {%- for address in customer.addresses -%}
              <li class="list-group-item">
                {%- if address == customer.default_address -%}
                  <h6>{{ 'customer.addresses.default' | t }}</h6>
                {%- endif -%}
                {{ address | format_address }}
                <div class="text-end">
                  <button
                    data-bs-toggle="collapse" data-bs-target="#EditAddress_{{ address.id }}"
                    class="btn btn-primary submit-button"
                    id="EditFormButton_{{ address.id }}"
                    aria-label="{{ 'customer.addresses.edit_address' | t }} {{ forloop.index }}"
                    aria-controls="EditAddress_{{ address.id }}"
                    aria-expanded="false"
                    data-address-id="{{ address.id }}"
                    style="min-width:auto"
                  >
                    {{ 'customer.addresses.edit' | t }}
                  </button>
                  <button
                    class="btn btn-warning submit-button"
                    data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                    aria-label="{{ 'customer.addresses.delete' | t }} {{ forloop.index }}"
                    data-target="{{ address.url }}"
                    data-confirm-message=""
                    style="min-width:auto"
                  >
                    {{ 'customer.addresses.delete' | t }}
                  </button>
                </div>
                
                <div id="EditAddress_{{ address.id }}" class="collapse">
                  <h2>{{ 'customer.addresses.edit_address' | t }}</h2>
                  {%- form 'customer_address', address -%}
                    <div class="mb-3">               
                      <label class="form-label" for="AddressFirstName_{{ form.id }}">{{ 'customer.addresses.first_name' | t }}</label>
                      <input class="form-control" type="text" id="AddressFirstName_{{ form.id }}" name="address[first_name]" value="{{ form.first_name }}" autocomplete="given-name" placeholder="{{ 'customer.addresses.first_name' | t }}">
                    </div>
                    <div class="mb-3">                
                      <label class="form-label" for="AddressLastName_{{ form.id }}">{{ 'customer.addresses.last_name' | t }}</label>
                      <input class="form-control" type="text" id="AddressLastName_{{ form.id }}" name="address[last_name]" value="{{ form.last_name }}" autocomplete="family-name" placeholder="{{ 'customer.addresses.last_name' | t }}">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="AddressCompany_{{ form.id }}">{{ 'customer.addresses.company' | t }}</label>                
                      <input class="form-control" type="text" id="AddressCompany_{{ form.id }}" name="address[company]" value="{{ form.company }}" autocomplete="organization" placeholder="{{ 'customer.addresses.company' | t }}">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="AddressAddress1_{{ form.id }}">{{ 'customer.addresses.address1' | t }}</label>                
                      <input class="form-control" type="text" id="AddressAddress1_{{ form.id }}" name="address[address1]" value="{{ form.address1 }}" autocomplete="address-line1" placeholder="{{ 'customer.addresses.address1' | t }}">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="AddressAddress2_{{ form.id }}">{{ 'customer.addresses.address2' | t }}</label>                
                      <input class="form-control" type="text" id="AddressAddress2_{{ form.id }}" name="address[address2]" value="{{ form.address2 }}" autocomplete="address-line2" placeholder="{{ 'customer.addresses.address2' | t }}">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="AddressCity_{{ form.id }}">{{ 'customer.addresses.city' | t }}</label>                
                      <input class="form-control" type="text" id="AddressCity_{{ form.id }}" name="address[city]" value="{{ form.city }}" autocomplete="address-level2" placeholder="{{ 'customer.addresses.city' | t }}">
                    </div>
                    <div class="mb-3">
                      <label class="form-label" for="AddressCountry_{{ form.id }}">
                        {{ 'customer.addresses.country' | t }}
                      </label>
                      <div class="select">
                        <select
                          id="AddressCountry_{{ form.id }}"
                          name="address[country]"
                          data-address-country-select
                          data-default="{{ form.country }}"
                          data-form-id="{{ form.id }}"
                          autocomplete="country"
                          class="form-select"
                        >
                          {{ all_country_option_tags }}
                        </select>
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <use href="#icon-caret" />
                        </svg>
                      </div>
                    </div>
                    <div class="mb-3" id="AddressProvinceContainer_{{ form.id }}" style="display:none;">
                      <label class="form-label" for="AddressProvince_{{ form.id }}">
                        {{ 'customer.addresses.province' | t }}
                      </label>
                      <div class="select">
                        <select
                          id="AddressProvince_{{ form.id }}"
                          name="address[province]"
                          data-default="{{ form.province }}"
                          autocomplete="address-level1"
                          class="form-select"
                        >
                        </select>
                        <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                          <use href="#icon-caret" />
                        </svg>
                      </div>
                    </div>
                    <div class="mb-3">                
                      <input class="form-control" type="text" id="AddressZip_{{ form.id }}" name="address[zip]" value="{{ form.zip }}" autocapitalize="characters" autocomplete="postal-code" placeholder="{{ 'customer.addresses.zip' | t }}">
                      <label class="form-label" for="AddressZip_{{ form.id }}">{{ 'customer.addresses.zip' | t }}</label>
                    </div>
                    <div class="mb-3">                
                      <input class="form-control" type="tel" id="AddressPhone_{{ form.id }}"  name="address[phone]" value="{{ form.phone }}" autocomplete="tel" placeholder="{{ 'customer.addresses.phone' | t }}">
                      <label class="form-label" for="AddressPhone_{{ form.id }}">{{ 'customer.addresses.phone' | t }}</label>
                    </div>
                    <div class="mb-3">
                      <label class="form-check-label" for="address_default_address_{{ form.id }}">
                        {{ 'customer.addresses.set_default' | t }}
                      </label>
                      {{ form.set_as_default_checkbox }}
                    </div>
                    <div>
                      <button class="btn btn-primary submit-button">{{ 'customer.addresses.update' | t }}</button>
                      <button class="btn btn-light" data-bs-toggle="collapse" data-bs-target="#EditAddress_{{ address.id }}" type="reset">{{ 'customer.addresses.cancel' | t }}</button>
                    </div>
                  {%- endform -%}
                </div>
              </li>
            {%- endfor -%}
          </ul>
        </div>
        {%- if paginate.pages > 1 -%}
          {%- if paginate.parts.size > 0 -%}
            <nav role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
              <ul role="list" class="pagination">
                {%- if paginate.previous -%}
                  <li class="page-item">
                    <a class="page-link" href="{{ paginate.previous.url }}" aria-label="{{ 'general.pagination.previous' | t }}">
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}

                {%- for part in paginate.parts -%}
                  <li class="page-item">
                    {%- if part.is_link -%}
                      <a class="page-link" href="{{ part.url }}" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</a>
                    {%- else -%}
                      {%- if part.title == paginate.current_page -%}
                        <span aria-current="page" aria-label="{{ 'general.pagination.page' | t: number: part.title }}">{{ part.title }}</span>
                      {%- else -%}
                        <span>{{ part.title }}</span>
                      {%- endif -%}
                    {%- endif -%}
                  </li>
                {%- endfor -%}

                {%- if paginate.next -%}
                  <li class="page-item">
                    <a class="page-link" href="{{ paginate.next.url }}" aria-label="{{ 'general.pagination.next' | t }}" >
                      <svg aria-hidden="true" focusable="false" viewBox="0 0 10 6">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.354.646a.5.5 0 00-.708 0L5 4.293 1.354.646a.5.5 0 00-.708.708l4 4a.5.5 0 00.708 0l4-4a.5.5 0 000-.708z" fill="currentColor">
                      </svg>
                    </a>
                  </li>
                {%- endif -%}
              </ul>
            </nav>
          {%- endif -%}
        {%- endif -%}
      </div>

    {%- endpaginate -%}
  </div>
</div>

{% style %}

.customer-addresses svg {
  width: 1rem;
  margin-top: -4px;
  margin-right: 3px;
  max-height:1rem;
}

.customer-addresses label.form-label, .customer-addresses label.form-check-label  {
  font-weight: var(--theme-primary-heading-font-weight);
}

.customer-addresses .form-control, .customer-addresses .form-select {
  background-color: #EEEEEE;
  border-radius: .35rem;
  border: none;
  color:black;
  font-size: .9rem;
  padding: .475rem .75rem;
  font-weight:500;
}
.customer-addresses .form-control::placeholder {
  color:#777777;
  text-transform:uppercase;
  font-weight:400;
}

.customer-addresses .submit-button {
  min-width: 10rem;
}

{% endstyle %}


<div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"Delete Addresse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{ 'customer.addresses.delete_confirm' | t }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-warning">Delete</button>
      </div>
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    
    document.querySelectorAll('button[data-confirm-message]').forEach(button => {
      element.addEventListener('click', _handleDeleteButtonClick);
    })
    const _handleDeleteButtonClick = ({ currentTarget }) => {
      var myModal = new bootstrap.Modal(document.getElementById('confirmDeleteModal'), {
        keyboard: false
      })
      myModal.show()
      myModal.getElementById('deleteButton').addEventListener('click', () => {
        Shopify.postLink(currentTarget.dataset.target, {
          parameters: { _method: 'delete' },
        });
      });

 
    }


    if (Shopify && Shopify.CountryProvinceSelector) {
        // eslint-disable-next-line no-new
        new Shopify.CountryProvinceSelector('AddressCountryNew', 'AddressProvinceNew', {
          hideElement: 'AddressProvinceContainerNew'
        });
        
        
        document.querySelectorAll('[data-address-country-select]').forEach((select) => {
          const formId = select.dataset.formId;
          // eslint-disable-next-line no-new
          new Shopify.CountryProvinceSelector(`AddressCountry_${formId}`, `AddressProvince_${formId}`, {
            hideElement: `AddressProvinceContainer_${formId}`
          });
        });
      }
    }


</script>