{% assign number_of_comments = article.comments_count %}
{% if comment and comment.created_at %}
  {% assign number_of_comments = article.comments_count %}
{% endif %}

<section class="page-header">
  <div class="container mb-5">
    <div class="text-center" style="padding-top: 5vw;">
      <p class="page-heading" style="color: #0069a7;">
          {% for tag in article.tags %}
      {{ tag }}
  {% endfor %}
        
        </p>
      <div class="page-subheading">
        {{ article.title | escape }}
      </div>
      <div class="mb-3 text-muted">
        {{ article.author }} &nbsp; | &nbsp;
        {{ article.created_at | time_tag:'%Y-%m-%d', datetime: '%a, %b %d, %Y' }} &nbsp; | &nbsp;
        {{ article.created_at | time_tag:'%l:%M %p' }}
      </div>
      <div>
        <a href="{{ shop.url}}/blogs/{{ blog.handle }}" class="btn btn-sm btn-primary">Back to {{ blog.handle }}</a>
        
        Share: &nbsp; 
        <a target="_blank" href="//twitter.com/share?text={{ article.title | url_param_escape }}&amp;url={{ shop.url }}{{ article.url | append: share_permalink }}" class="share-twitter" title="Share on Twitter">
        	<img src="{{'social-twitter.png'|asset_url}}" alt="Twitter Logo" class="d-inline-block" style="margin-bottom:4px" loading="lazy" /> 
        </a> &nbsp;
        <a target="_blank" href="//www.facebook.com/sharer.php?u={{ shop.url }}{{ article.url | append: share_permalink }}" class="share-facebook" title="Share on Twitter">
         	<img src="{{'social-facebook.png'|asset_url}}" alt="Facebook Logo" class="d-inline-block" style="margin-bottom:4px" loading="lazy" /> 
		</a> &nbsp;
        <a target="_blank" href="//www.linkedin.com/sharing/share-offsite/?url={{ shop.url }}{{ article.url | append: share_permalink }}" class="share-linkedin" title="Share on LinkedIn">
         	<img src="{{'social-linkedin.png'|asset_url}}" alt="Facebook Logo" class="d-inline-block" style="margin-bottom:4px" loading="lazy" /> 
		</a> &nbsp; 
        
        
      </div>
    </div>
  </div>
<section>  

<div class="container">


  


  <div>{{ article.content }}</div>
  {% if blog.comments_enabled? %}
    <h2>{{ number_of_comments }} comments</h2>
    {% paginate article.comments by 5 %}
      {% for comment in article.comments %}
        <div>
          <div>{{ comment.content }}</div>
          {{ comment.author }} @ {{ comment.created_at }}
        </div>
      {% endfor %}
      {% if paginate.pages > 1 %}
        {{ paginate | default_pagination }}
      {% endif %}
    {% endpaginate %}

    <div>
      {% form 'new_comment', article %}
        {{ form.errors | default_errors }}
        <label for="CommentAuthor">name</label>
        <input type="text" name="comment[author]" id="CommentAuthor" placeholder="name" value="{{ form.author }}" autocapitalize="words">

        <label for="CommentEmail">email</label>
        <input type="email" name="comment[email]" id="CommentEmail" placeholder="email" value="{{ form.email }}" autocorrect="off" autocapitalize="off">

        <label for="CommentBody">message</label>
        <textarea name="comment[body]" id="CommentBody" placeholder="message">{{ form.body }}</textarea>

        <input type="submit" value="post">
      {% endform %}
    </div>
  {% endif %}
  </div>
</div>

{% style %}
  .blog-article .btn {
    font-family: 'Bank Gothic Pro Medium Cond';
    border-radius:0;
    color:white;
    font-weight:500;
    text-transform:uppercase;
    margin-right:10px;
  }

  
  
{% endstyle %}

{% schema %}
{
  "name": "Article",
  "tag": "section",
  "class": "blog-article"
}
{% endschema %}