{% paginate blog.articles by 5 %}

<h1>{{ blog.title }}</h1>


<a href="/blogs/articles/tagged/article">Articles</a><br/>
<a href="/blogs/articles/tagged/white-paper">White Papers</a><br/>
<a href="/blogs/articles/tagged/press-release">Press Releases</a><br/>
<a href="/blogs/articles/tagged/video">Videos</a><br/>


<h3>Tags:</h3>
{% for tag in blog.tags %}
  {{ tag | link_to_tag: tag }} |
{% endfor %}



<h3>Add Tag:</h3>
{% for tag in blog.tags %}
  {{ tag | link_to_add_tag: tag }} | 
{% endfor %}


<h3>Remove Tag:</h3>
{% for tag in blog.tags %}
  {{ tag | link_to_remove_tag: tag }} |
{% endfor %}

{% for article in blog.articles %}
  <div>
    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
    {{ article.author }} @ {{ article.created_at }}
    <div>
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt }}
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}
