{% paginate blog.articles by 5 %}


<section class="page-header">
  <div class="container mb-5">
    <div class="text-center" style="padding-top: 5vw;">
      <p class="page-heading" style="color: #0069a7;">{{ blog.title | escape }}</p>
    </div>
  </div>
<section>  

<div class="container">






<div class="mb-5">
<a href="{{ shop.url}}/blogs/{{ blog.handle }}" class="btn filter {%unless current_tags%} selected {% endunless %}">View All</a>
{% for tag in blog.all_tags %}
  {% if current_tags contains tag %}
  <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="btn filter selected">{{ tag }}</a>
   {% else %}
  <a href="{{ shop.url}}/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" class="btn filter">{{ tag }}</a>
   {% endif %} 
{% endfor %}
</div>


{% for article in blog.articles %}
 <div class="row">
  <div class="col-md-12">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-success">
          {% for tag in article.tags %}
          {{ tag}},
        {% endfor %}

          </strong>
          <h3 class="mb-0"><a href="{{ article.url }}">{{ article.title }}</a></h3>
          <div class="mb-1 text-muted">{{ article.author }} @ {{ article.created_at }}</div>
          <p class="mb-auto">
            {% if article.excerpt.size > 0 %}
              {{ article.excerpt }}
            {% else %}
              <p>{{ article.content | strip_html | truncatewords: 50 }}</p>
            {% endif %}
          
          </p>
          <a href="{{ article.url }}" class="stretched-link">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block" style="max-width:100px">
           {%- if article.image != blank -%}
          <img 
            src="{{ article.image | img_url: '1070x' }}"
            alt="{{ article.image.alt | escape }}"
            class="img-fluid" style="min-width:100%;"
          >
         {%- else -%}
          no image
          {% endif %}
        </div>
      </div>
    </div>
  </div>

{% endfor %}

{% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}

</div>
{% style %}
  .blog-main .btn {
    font-family: 'Bank Gothic Pro Medium Cond';
    border-radius:0;
    color:white;
    font-weight:500;
    text-transform:uppercase;
    margin-right:10px;
  }
  .blog-main .btn.filter:not(selected) {
 	background-color:#ced2d3;
  }
  .blog-main .btn.filter.selected {
	background-color:#006cab;
  }
  
  
{% endstyle %}
{% schema %}
{
  "name": "Blog",
  "tag": "section",
  "class": "blog-main"
}
{% endschema %}