{% paginate blog.articles by 5 %}


<section class="page-header">
  <div class="container mb-5">
    <div class="text-center" style="padding-top: 5vw;">
      <p class="page-heading" style="color: #0069a7;">{{ blog.title | escape }}</p>
    </div>
  </div>
<section>  

<div class="container">







<a href="/blogs/articles/">View All</a> |

{% for tag in blog.all_tags %}
  {{ tag | link_to_tag: tag }} |
{% endfor %}



{% for article in blog.articles %}
  <div>
    <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>
    {{ article.author }} @ {{ article.created_at }}
    <div>
      {% if article.excerpt.size > 0 %}
        {{ article.excerpt }}
      {% else %}
        <p>{{ article.content | strip_html | truncatewords: 100 }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}

{% if paginate.pages > 1 %}
  {{ paginate | default_pagination }}
{% endif %}

{% endpaginate %}

</div>