<div class="container">
  <div class="text-center mb-5" style="padding-top: 5vw;">
    <p class="page-heading" style="color: #0069a7;">{{ collections[section.settings.featured_collection].title }}</p>
  </div>
  <div class="row justify-content-md-center mb-3">
    <div class="col col-10 col-md-6">
      {{ section.settings.featured_collection.description }}
    </div>
  </div>

  {% paginate collections[section.settings.featured_collection].products by 8 %}

  
    <div class="row justify-content-md-center">
      {% for product in collections[section.settings.featured_collection].products %}
        <div class="col col-6 col-md-2">
          <div class="card">
            <a href="{{ product.url | within: collection }}">
              <img src="{{ product.featured_image.src | img_url: 'large' }}" class="card-img-top" alt="{{ product.featured_image.alt | escape }}">
            </a>
            <div class="card-body">
              <h5><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
              <p class="card-text">
                Starting At {{ product.price | money }}
                {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
              </p>
            </div>
          </div>
        </div>
      {% else %}
        <p>no matches</p>
      {% endfor %}
    </div>
    {% if paginate.pages > 1 %}
    <div class="row">
      <div class="col col-12 text-center">
        <div class="d-inline-block">
          <ul class="pagination mt-5">
            <li class="page-item {% if paginate.previous.is_link != true %} disabled {% endif %}">
              <a class="page-link" href="{{ paginate.previous.url }}">Previous</a>
            </li>
            {% for part in paginate.parts %} 
              <li class="page-item {% if part.is_link == false %}active{% endif %}">
                <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
              </li>
            {% endfor %}
            <li class="page-item {% if paginate.next.is_link != true %} disabled{% endif %}">
              <a class="page-link" href="{{  paginate.next.url }}">Next</a>
          </li>
          </ul>
        </div>
      </div>
    </div>
    {% endif %}
  {% endpaginate %}
  
</div>

{% stylesheet %}
.collection-grid a {
  text-decoration: none;
}
.collection-grid a:hover {
  text-decoration: underline;
}
{% endstylesheet %}

{% schema %}
{
  "name": "Collection Grid",
  "tag": "section",
  "class": "collection-grid",
  "settings": [{
    "type": "collection",
    "id": "featured_collection",
    "label": "Featured collection"
  }],
  
  "presets": [
    {
      "category": "Something",
      "name":"Collection Grid"
    }
  ]
}
{% endschema %}


