<div class="container">
  <div class="text-center mb-5" style="padding-top: 5vw;">
    <p class="page-heading" style="color: #0069a7;">{{ collections[section.settings.featured_collection].title }}</p>
  </div>
  <div class="row">
    <div class="col col-12">
      {{ section.settings.featured_collection.description }}
    </div>
  </div>
  <div class="row">

  {% paginate collections[section.settings.featured_collection].products by 2 %}
    <h1>{{ collection.title }}</h1>

    {% for product in collections[section.settings.featured_collection].products %}
      <div class="col col-6 col-md-2">
        <div class="card">
          <a href="{{ product.url | within: collection }}">
            <img src="{{ product.featured_image.src | img_url: 'large' }}" class="card-img-top" alt="{{ product.featured_image.alt | escape }}">
          </a>
          <div class="card-body">
            <h5><a href="{{ product.url | within: collection }}">{{ product.title }}</a></h5>
            <p class="card-text">
              Starting At {{ product.price | money }}
              {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
            </p>
          </div>
        </div>
      </div>
    {% else %}
      <p>no matches</p>
    {% endfor %}
    {% if paginate.pages > 1 %}
      <ul class="pagination">
        <li class="page-item {% if paginate.previous.is_link == false %} disabled {% endif %}">
          <a class="page-link" href="{{ paginate.previous.url }}">Previous</a>
        </li>
        {% for part in paginate.parts %} 
          <li class="page-item {% if page.current %}active{% endif %}">
            <a class="page-link" href="{{ part.url }}">{{ part.title }}</a>
          </li>
        {% endfor %}
        <li class="page-item {% if paginate.next.is_url == false %} disabled{% endif %}">
          <a class="page-link" href="{{  paginate.next.url }}">Next</a>
      </li>
      </ul>
    {% endif %}
  {% endpaginate %}
  </div>
</div>


{% schema %}
{
  "name": "Collection Grid",
  "tag": "section",
  "class": "collection-grid",
  "settings": [{
    "type": "collection",
    "id": "featured_collection",
    "label": "Featured collection"
  }],
  
  "presets": [
    {
      "category": "Something",
      "name":"Collection Grid"
    }
  ]
}
{% endschema %}


