<div class="container mb-5">
  <div class="row">
    <div class="col-12 header">
      {{ section.settings.title }}
    </div>
  </div>
  <div class="row">
    <div class="col-12 body d-flex flex-wrap-reverse flex-sm-nowrap" >
      <div>
        {{ section.settings.text }}
      </div>
      {%- if section.settings.image != blank -%}
        <div class="image-block" style="max-width:{{ section.settings.max-width }}px;">
          <img 
            src="{{ section.settings.image | img_url: '1070x' }}"
            alt="{{ section.settings.image.alt | escape }}"
            class="img-fluid" style="min-width:100%;"
          >
        </div>
      {%- endif -%}
    </div>
  </div>
  
</div>

{% style %}
  .content-block .image-block {
    min-width:50%;
  }
  @media (min-width: 992px) {
    .content-block .image-block {
      min-width:30%;
    }
  }

  .content-block {
    letter-spacing: 0.02rem; 

    line-height:calc(1.9rem + .9vw);
  }
  .content-block .header {
   color: #0c5fa1;
   font-weight:500;
   font-size: min(calc(1.2rem + .9vw), 1.7rem);
   margin-bottom: .7rem;
  }
  
  .content-block .body {
    color: #65665d;
    font-size: min(calc(.8rem + .9vw), 1.5rem);
  }
  .content-block .body strong {
    font-weight:500;
  }
  .content-block .body li {
    list-style-image: url({{'arrow.svg'|asset_url}});
    margin-bottom: .9rem;
  }
  .content-block .body ul li {
    margin-left:.5rem;
    padding-left:.5rem;
    
  }
  .content-block .body ul {
    margin-top:.9rem;
  }
  
  .content-block .body ul li::marker {
    font-size: 1.5em;
  }
{% endstyle %}

{% schema %}
{
  "name": "Content Block",
  "class":"content-block",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Title"
    },
    {
      "type": "html",
      "id": "text",
      "label": "Body",
      "default": "<p>Call to action text.</p>"
    },
    { 
      "type": "image_picker",
      "id":"image",
      "label": "Featured Image"
    },
    { 
      "type": "number",
      "id":"max-width",
      "label": "Max Width(px)"
    }
  ],
  "presets": [
    {
      "category": "Something",
      "name":"Content Block"
    }
  ]
}
{% endschema %}