
<div class="container">

  <div class="text-center" style="margin-top: 15rem; margin-bottom: 5rem;">
    <p style="color: #0069a7; letter-spacing: 0.07rem;font-size: calc(2rem + .9vw); font-weight: 500;">{{ section.settings.heading | escape }}</p>
  </div>
  
  {%- form 'contact', id: 'ContactForm' -%}
    {%- if form.posted_successfully? -%}
      <div class="alert alert-primary" role="alert" tabindex="-1" autofocus>{{ 'templates.contact.form.post_success' | t }}</div>
    {%- elsif form.errors -%}
      <div class="alert alert-warning" role="alert">
        <h2  tabindex="-1" autofocus> {{ 'templates.contact.form.error_heading' | t }}</h2>
      </div>
      <ul role="list">
        <li>
          <a href="#ContactForm-email" class="link">
            {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}
          </a>
        </li>
      </ul>
    {%- endif -%}
    <div>
      <div class="mb-3">
        <label class="form-label" for="ContactForm-name">{{ 'templates.contact.form.name' | t }} *</label>
        <input required class="form-control" autocomplete="name" type="text" id="ContactForm-name" name="contact[{{ 'templates.contact.form.name' | t }}]" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}" placeholder="{{ 'templates.contact.form.name' | t }}">
      </div>
      <div class="mb-3">
        <label class="form-label" aria-describedby="ContactForm-email-error" for="ContactForm-email">{{ 'templates.contact.form.email' | t }} <span aria-hidden="true">*</span></label>
        <input
          required
          autocomplete="email"
          type="email"
          id="ContactForm-email"
          class="form-control"
          name="contact[email]"
          spellcheck="false"
          autocapitalize="off"
          value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
          aria-required="true"
          {% if form.errors contains 'email' %}
            aria-invalid="true"
            aria-describedby="ContactForm-email-error"
          {% endif %}
          placeholder="{{ 'templates.contact.form.email' | t }}"
        >
        {%- if form.errors contains 'email' -%}
          <small class="form-text" id="ContactForm-email-error">
            <span class="visually-hidden">{{ 'accessibility.error' | t }}</span>
            <span class="form__message">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          </small>
        {%- endif -%}
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="ContactForm-phone">{{ 'templates.contact.form.phone' | t }}</label>
      <input type="tel" id="ContactForm-phone" class="form-control" autocomplete="tel" name="contact[{{ 'templates.contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}" placeholder="{{ 'templates.contact.form.phone' | t }}">
    </div>
    <div class="mb-3">
      <label class="form-label" for="ContactForm-body">{{ 'templates.contact.form.comment' | t }}</label>
      <textarea
        rows="10"
        id="ContactForm-body"
        class="form-control"
        name="contact[body]"
        placeholder="{{ 'templates.contact.form.comment' | t }}"
      >
        {{- form.body -}}
      </textarea>
    </div>
    <div class="mb-3 text-end">
      <button type="submit" class="btn btn-primary">
        {{ 'templates.contact.form.send' | t }}
      </button>
    </div>
  {%- endform -%}
</div>

{% schema %}
{
  "name": "Contact Form",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Contact form",
      "label": "Heading"
    }
  ],
  "presets": [
    {
      "name": "Contact Form"
    }
  ]
}
{% endschema %}