

<div class="container text-center">

  <div class="row">
    <div class="col-12 col-sm-6 col-lg-3 mb-5 mb-lg-0">
      <a href="https://www.linkedin.com/company/purteq/" title="Visit us on LinkedIn" target="_blank"><img src="{{'footer-purteq-social-media-linkedin.svg'|asset_url}}" width="42" alt="LinkedIn" style="margin-right: 45px;" class="align-top" /></a>
      <a href="https://twitter.com/purteqclean"  title="Visit us on Twitter" target="_blank"><img src="{{'footer-purteq-social-media-twitter.svg'|asset_url}}" width="42" alt="Twitter" style="" class="align-top me-0 me-sm-4"   /></a>
    </div>
    <div class="col-12 col-sm-6  col-lg-3 mb-5 mb-lg-0 text-right">
      <div class="d-block d-sm-inline-block mt-5 mt-sm-0"> 
        <img src="{{'footer-purteq-issa-member.svg'|asset_url}}" width="154" alt="ISSA member" class="align-top" style="margin-top: -10px;" />
      </div>
    </div>
    <div class="col-12 col-sm-6  col-lg-3 mb-3 mb-sm-0">
      <div class="text-start d-inline-block" style="min-width:180px">
       
          <a href="mailto:sales@purteq.com" title="Email PURTEQ" target="_blank" class="no-decoration nowrap"><img src="{{'footer-purteq-contact-email.svg'|asset_url}}" width="26" alt="email" class="me-2" style="margin-top: -10px;" /><div style="font-size:.9rem;display:inline-block; margin-bottom: 10px;">sales@purteq.com </div></a>
          <br />
          <a href="tel:844-478-7837" title="Call PURTEQ" class="no-decoration">
            <img src="{{'footer-purteq-contact-phone.svg'|asset_url}}" width="26"  alt="phone"  class="me-2"/><div style="font-size:.9rem;display:inline-block">(844) 478-7837</div>
          </a>

        
      </div>
      
    </div>
    <div class="col-12 col-sm-6 col-lg-3 text-center">
      <div class="text-start d-inline-block" style="min-width:180px">
        <img src="{{'footer-purteq-contact-address.svg'|asset_url}}" width="26" class="align-top me-2"  alt="address" style="margin-top: -10px; margin-left:-4px" />
        <div style="display:inline-block;font-size:.9rem;">
          PURTEQ, Inc.<br/>
          825 Valleybrook Drive<br/>
          Memphis, TN 38140
        </div>
      </div>
    </div>

  </div>



  
  <div class="row">
    <div class="col-12 text-center">
      <div class="my-5">
        <p style="letter-spacing: .012rem;">Copyright &copy; {{ 'now' | date: '%Y' }}, PURTEQ<sup style="top:-.2rem">&reg;</sup>, Inc. All Rights Reserved.</p>
      </div>
    </div>
  </div>
  
  
    <div class="row">
    {%- assign footer_linklist = section.settings.menu -%}
    <ul class="site-footer__linklist {% if inline_list %}list--inline{% endif %}">
      {%- for link in linklists[footer_linklist].links -%}
        <li class="site-footer__linklist-item">
          <a href="{{ link.url }}"
            {% if link.current %} aria-current="page"{% endif %}
          >
            {{ link.title | escape }}
          </a>
        </li>
      {%- endfor -%}
    </ul>
  </div>
  
</div>

{% stylesheet %}
a.no-decoration,
a.no-decoration:hover,
a.no-decoration:focus,
a.no-decoration:active,
a.no-decoration:visited {
  color: inherit;
  text-decoration: none;
}

{% endstylesheet %}


{% schema %}
{
  "name": "Footer",
  "settings": [
    
    {
      "type": "link_list",
      "id": "menu",
      "default": "footer",
      "label": "Footer Links"
    }
    
  ]
}
{% endschema %}