<div class="container mt-5" style="margin-bottom:10rem">
    <div class="text-center header">
      {{ section.settings.title | escape }}
    </div>
    
    {%- if section.blocks.size > 0 -%}
        <div class="container">
            <div class="swiper-container">
              <div class="swiper-wrapper">
              {%- for block in section.blocks -%}
                  <div class="swiper-slide">
                    <div class="partner">
                  {%- if block.settings.image != blank -%}
                      {{ block.settings.image | img_url: '360x360', scale: 2 | img_tag: block.settings.image.alt, 'img-fluid' }}
                  {%- else -%}
                      {{ 'logo' | placeholder_svg_tag: 'placeholder-svg, img-fluid' }}
                  {%- endif -%}
                    </div>
                  </div>
              {%- endfor -%}
              </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </ul>
    {%- endif -%}
</div>

<style>

  .featured-partners .swiper-button-prev {
    margin-left: -10px;
    background-image: url({{'arrow-left.svg' | asset_url}}) !important;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: -10px;
  }

  .featured-partners .swiper-button-next {
    margin-left: 10px;
    background-image: url({{'arrow-right.svg' | asset_url}}) !important;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 90px;
    right: 0px;
  }
</style>

{% stylesheet %}
.featured-partners .header {
  color: #0c5fa1;
  font-weight:500;
  font-size: 1.9rem;
  margin-bottom: 2.7rem;
}
.featured-partners .container {
  position: relative;
}

.featured-partners .swiper-button-next:after {
  content:""  !important;
}

.featured-partners .swiper-button-prev:after {
  content:""  !important;
}
.featured-partners .swiper-container {
    border: 1px solid #e0e0e0;
  }
  .featured-partners .swiper-slide {
    text-align:center;
  }

  .featured-partners .partner {
    max-width: 180px;
    display: inline-block;
  }
{% endstylesheet %}

{% javascript %}
  const swiper = new Swiper(
    '.featured-partners .swiper-container', 
    {
      speed: 400,
      spaceBetween: 100,
      slidesPerView: 4,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    }
  );
{% endjavascript %}

{%schema%}
{
  "name": "Featured Partners",
  "class": "featured-partners",
  "max_blocks": 20,
  "settings": [
    {
        "type": "text",
        "id": "title",
        "label": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Partner",
      "type": "partner_detail",
      "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Partner"
          },
          {
              "type": "image_picker",
              "id": "image",
              "label": "Parter Logo"
          },
          {
              "type": "url",
              "id": "link",
              "label": "Link",
              "info": "Optional"
          }
      ]
    }
  ],
  "presets": [
    {
      "category": "Homepage Sections",
      "name":"Featured Partners",
      "blocks":[
        {"type":"partner_detail"},
        {"type":"partner_detail"},
        {"type":"partner_detail"}
      ]
    }
  ]
}
{%endschema%}