{% assign current_variant = product.selected_or_first_available_variant %}
<div class="container mb-5" style="padding-top: 5vw;">
  <div class="row">    
    {% assign variant_images = product.images %}

    <div class="col col-3 col-sm-4 col-lg-5">

      <div class="carousel" id="productDetailImage" data-bs-ride="carousel" data-bs-interval="false">
        <div class="row">
          <div class="col">
        
            <div class="carousel-inner d-none d-sm-block" >
            {% assign carousel_count = 0 %}
            {% for image in variant_images %}
                <div class="carousel-item {% if carousel_count == 0 %} active {% endif %}">
                  <img src="{{ image | image_url: width:800 }}" alt="{{ image.alt | escape }}" class="img-fluid" loading="lazy" />
                </div>
                {% assign carousel_count = carousel_count | plus: 1 %}
            {% endfor %}
            </div>
          </div>


          {% if variant_images.size > 1 %}
            <div class="col order-xxl-first col-xxl-auto col-12">
              <div class="product-image-slider carousel-indicators d-flex flex-xxl-column flex-column flex-sm-row">
              {% assign image_count = 0 %}
              {% for image in variant_images %}
                <div class="product-image-item {% if image_count == 0 %} active {% endif %} d-md-inline-block d-xxl-block flex-fill p-1" data-bs-slide-to="{{ image_count}}" data-bs-target="#productDetailImage">
                  <img src="{{ image | image_url: width: 200, crop: 'center' }}" alt="{{ product.title }}" class="img-fluid" loading="lazy"/>
                </div>
                {% assign image_count = image_count | plus: 1 %}
              {% endfor %}
              </div>
            </div>
            {% endif %}

        </div>
      </div>     
    </div>


    <div class="col col-9 col-sm-8 col-lg-7">
      <div class='product-description'>{{ product.description }}</div>
        <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
          <div class="mb-3">
            <label class="form-label" for="productSelect">Packaging Option</label>
            <select class="form-select" name="id" id="productSelect">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}">
                    {{ variant.title }} 
                  </option>
                {% else %}
                  <option disabled="disabled">
                    {{ variant.title }} - sold out
                  </option>
                {% endif %}
              {% endfor %}
            </select>
          </div>
		  <div>
            Please call <a href='tel:844-478-7837'>(844) 478-7837</a> to get in touch with your local distributor
          </div>
        </form>
    </div>
  </div>
</div>

{% stylesheet %}
  .product-image-slider.carousel-indicators {
    position: relative;
    display: inherit;
    margin: 0;
  }
  .product-image-slider.carousel-indicators .product-image-item {
    position: relative;
    text-indent: 0px;
    flex: none;
    height: inherit;
    border:1px;
    margin: 0 0 3px 0;
    display: block;
    width: auto;
  }
  @media (min-width: 1200px) {
    .product-image-slider.carousel-indicators .product-image-item {
        width: 75px;
    }
  }
  @media (max-width: 576px) {
    .product-image-slider.carousel-indicators .product-image-item {
        opacity: 1;
    }
    .product-image-slider.carousel-indicators .active {
        border: none;
    }
  }
  @media (min-width: 576px) {
    .product-image-slider.carousel-indicators .active {
        border: .5px solid var(--theme-color-primary);
    }
  }
  #productDetailImage .img-fluid {
    min-width: 100%;
  }
  .product-section .product-description a {
    text-decoration: none;
  }
  .product-section .product-description a:hover {
    text-decoration: underline;
  }
  .product-section .product-description h1, 
  .product-section .product-description h2, 
  .product-section .product-description h3, 
  .product-section .product-description h4, 
  .product-section .product-description h5, 
  .product-section .product-description h6 {
    color: var(--theme-color-primary);
    font-weight: var(--theme-primary-heading-font-weight);
    text-transform: uppercase;
  }
  .product-section .nav-link {
    color: var(--theme-color-primary);
    font-weight: var(--theme-primary-heading-font-weight);
    text-transform: uppercase;
  }
  .product-section .nav-link.active {
    color: var(--theme-color-primary);
  }
  .product-section label.form-label, 
  .product-section label.form-check-label {
    font-weight: var(--theme-primary-heading-font-weight);
  }
  .product-section .form-control, 
  .product-section .form-select {
    background-color: #EEEEEE;
    border-radius: .35rem;
    border: none;
    color:black;
    font-size: .9rem;
    padding: .475rem .75rem;
    font-weight:500;
  }
  .product-section .submit-button {
    min-width: 10rem;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Product Details",
  "tag": "section",
  "class": "product-section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "description",
      "name": "Description",
      "limit": 1
    },
    {
      "type": "product-details",
      "name": "Product Details",
      "limit": 1
    }
  ]
}
{% endschema %}