<div class="container mb-5">

  <div class="text-center mb-4">
    <p style="color: #0069a7; letter-spacing: 0.09rem;font-size: calc(2rem + .9vw); font-weight: 100;">{{ section.settings.title | escape }}</p>
  </div>

  {%- if section.blocks.size > 0 -%}
      <div class="container">
          <div class="row">
          {%- for block in section.blocks -%}
            
              <div class="col-xs-12 col-md-4 product-item text-center">
                <div class="d-inline-block text-start">
                <div class="card border-0">
                  <div style="max-width: 300px;">
                    <a href="{{block.settings.link.url}}">
                    {%- if block.settings.image != blank -%}
                      {{ block.settings.image | img_url: '360x360', scale: 2 | img_tag: block.settings.image.alt, 'card-img-top h-100' }}
                    {%- else -%}
                      {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' | class: 'card-img-top' }}
                    {%- endif -%}
                    </a>
                  </div>
                </div>
                <div class="card-body" >
                  <h4 class="card-title mb-3">{{ block.settings.title | escape}}</h4>
                  <div class="card-text" style="color:#65665d;line-height:1.5rem;">
                    <a href="{{block.settings.link.url}}" class="btn btn-primary w-100 mb-2">Learn More</a>
                    {{ block.settings.details}}
                  </div>
                </div>
                
              </div>
              </div>
            
          {%- endfor -%}
          </div>
      </div>
  </ul>
  {%- endif -%}
</div>
{% stylesheet %}


{% endstylesheet %}
{% style %}

.product-callouts .product-col {
  border-left: solid 1px gray;
}
.product-callouts li {
  list-style-image: url({{'arrow.svg'|asset_url}});
  font-size: .9rem;
  margin-bottom: .4rem;
}

.product-callouts ul li::marker {
  font-size: 1.5em;
}

{% endstyle %}

{%schema%}
{
  "name": "Product Callouts",
  "max_blocks": 20,
  "class":"product-callouts",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading"
    }
  ],
  "blocks": [
    {
      "name": "Product Detail",
      "type": "product_detail",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "details",
          "label": "Details",
          "default": "<ul>\n\t<li><strong>Feature 1</strong></li>\n\t<li>Feature 2</li>\n\t<li>Feature 3</li>\n</ul>"
        },
        {
          "type":"image_picker",
          "id":"image",
          "label":"Product Image"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Homepage Sections",
      "name":"Product Callouts",
      "blocks":[
        {"type":"product_detail"},
        {"type":"product_detail"},
        {"type":"product_detail"}
      ]
    }
  ]
}
{%endschema%}