<div class="container">
  <ul class="nav" id="myTab" role="tablist">
    {%- for block in section.blocks -%}
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if forloop.first %}active{% endif %}" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab{{ forloop.index }}" type="button" role="tab">{{ block.settings.title | escape }}</a>
      </li>
    {%- endfor -%}
  </ul>
  <div class="tab-content" id="myTabContent">
    {%- for block in section.blocks -%}
      <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab{{ forloop.index }}" role="tabpanel" aria-labelledby="home-tab">
        <div>
          <ul>
            {% assign paragraphs = block.settings.content | strip_html | newline_to_br | strip_newlines | split: '<br />' %}
            {% for paragraph in paragraphs %}<li>{{ paragraph }}</li>{% endfor %}
          </ul>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>


{% javascript %}

{% endjavascript %}

{% style %}
.product-details  .nav-link {
    color: #65665d;
    font-weight: 700;
    text-transform: uppercase;
  }
  .product-details  .nav-link.active {
    color: #0069a7;
  }

  .product-details .tab-content li {
    list-style-image: url({{ 'arrow.svg' | asset_url }});
    font-size: .9rem;
    margin-bottom: .4rem;
  }
  
  .product-details .tab-content ul li::marker {
    font-size: 1.5e
  
  {% endstyle %}



{% schema %}
{
  "name": "Product Details",
  "tag": "section",
  "class": "product-details",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Product Details"
    }
  ],
  "blocks": [{
    "name": "Tab",
    "type": "tab",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Tab Name"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Tab Content"
      }
    ]
  }]
}
{% endschema %}