<div class="container">
  <div class="row">
    <div class="col-5 col-sm-6 col-md-12">
      <ul class="nav mb-3" id="myTab" role="tablist">
        {%- for block in section.blocks -%}
          <li class="nav-item" role="presentation">
            <a class="nav-link {% if forloop.first %}active{% endif %}" id="home-tab" data-bs-toggle="tab" data-bs-target="#tab{{ forloop.index }}" role="tab">{{ block.settings.title | escape }}</a>
          </li>
        {%- endfor -%}
      </ul>
    </div>
    <div class="col-7 col-sm-6 col-md-12">
      <div class="tab-content" id="myTabContent">
        {%- for block in section.blocks -%}
          <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="tab{{ forloop.index }}" role="tabpanel" aria-labelledby="home-tab">
            <div>
              <ul>
                {% assign paragraphs = block.settings.content | strip_html | newline_to_br | strip_newlines | split: '<br />' %}
                {% for paragraph in paragraphs %}<li>{{ paragraph }}</li>{% endfor %}
              </ul>
            </div>
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>

  
</div>


{% javascript %}

{% endjavascript %}

{% style %}
.product-details  .nav-link {
    color: var(--theme-color-body-text);
    font-weight: var(--theme-primary-heading-font-weight);
    text-transform: uppercase;
  }
  .product-details  .nav:first-child a {
    padding-left:0;
    
  }
  .product-details  .nav-link.active {
    color: var(--theme-color-primary);
  }
  .product-details  .nav-link:not(.active) {
    cursor: pointer;
  }

  .product-details .tab-content li {
    list-style-image: url({{ 'arrow.svg' | asset_url }});
  /*  font-size: .9rem; */
    margin-bottom: .4rem;
  }
  
  .product-details .tab-content ul li::marker {
    font-size: 1.5rem;
  }
  
  {% endstyle %}



{% schema %}
{
  "name": "Product Details",
  "tag": "section",
  "class": "product-details",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Product Details"
    }
  ],
  "blocks": [{
    "name": "Tab",
    "type": "tab",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Tab Name"
      },
      {
        "type": "richtext",
        "id": "content",
        "label": "Tab Content"
      }
    ]
  }]
}
{% endschema %}