<div class="container mt-5" style="margin-bottom:12rem">
  <div class="row">
    <div class="col-12 col-md-3">
      <div style="max-width: 300px;">
        {%- if section.settings.featured_image != blank -%}
          {{ section.settings.featured_image | img_url: '360x360', scale: 2 | img_tag: section.settings.featured_image.alt, 'card-img-top h-100' }}
        {%- else -%}
          {{ 'logo' | placeholder_svg_tag: 'placeholder-svg' | class: 'card-img-top' }}
        {%- endif -%}
      </div>
    </div>
    <div class="col-9">
      <div class="row">
        <div class="col-12">
          <p style="color: #0069a7; letter-spacing: 0.06rem;font-size: 2.5rem; font-weight: 100; line-height:3.2rem;">{{ section.settings.title }}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <style>
            #single-product-callout-content strong {
              color:black;
            }  
            #single-product-callout-content h5 {
              color:black;
            }   
            #single-product-callout-content li {
              margin-bottom: .4rem;
            }    
             
          </style>
          <div id="single-product-callout-content" style="color:#65665d; line-height:1.5rem;">
            {{ section.settings.details }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% style %}

#single-product-callout-content li {
  list-style-image: url({{'arrow.svg'|asset_url}});
  font-size: .9rem;
  margin-bottom: .4rem;
}

#single-product-callout-content ul li::marker {
  font-size: 1.5em;
}

{% endstyle %}

{% schema %}
{
  "name": "Single Product Callout",
  "class":"single-product-callout",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Talk about your brand"
    },
    { 
        "type": "image_picker",
        "id":"featured_image",
        "label": "Featured Image"
    },
    {
      "type": "html",
      "id": "details",
      "label": "Details",
      "default": "<h5>Product<sup>TM</sup></h5><ul>\n\t<li><strong>Feature 1</strong></li>\n\t<li>Feature 2</li>\n\t<li>Feature 3</li>\n</ul>"
    }
  ],
  "presets": [
    {
      "category": "Something",
      "name":"Single Product Callout"
    }
  ]
}
{% endschema %}