<div class="container mt-5">

  <div class="text-center mb-4">
    <p style="color: #0069a7; letter-spacing: 0.09rem;font-size: calc(2rem + .9vw); font-weight: 100;">{{ section.settings.title | escape }}</p>
  </div>

  {%- if section.blocks.size > 0 -%}
      <div class="container">
          <div class="row">
          {%- for block in section.blocks -%}
              <div class="col-xs-12 col-md-4 staff-detail">
                <div class="name">{{ block.settings.name | escape}}</div>
                <div class="title">{{ block.settings.title | escape}}</div>
              </div>
              <div class="col-xs-12 col-md-4 staff-detail">
                {%- if block.settings.image != blank -%}
                <div class="bio">{{ block.settings.bio | escape}}</div>
                {%- endif -%}
              </div>
                

                
                
              </div>
          {%- endfor -%}
          </div>
      </div>
  </ul>
  {%- endif -%}
</div>
{% stylesheet %}


{% endstylesheet %}
{% style %}
.staff-list .staff-detail .title  {

    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 50%;
    width   : 1px;  /* or 100px */
    border-left:1px solid magenta;
  
}
.product-callouts .product-col {
  border-left: solid 1px gray;
}
.product-callouts li {
  list-style-image: url({{'arrow.svg'|asset_url}});
  font-size: .9rem;
  margin-bottom: .4rem;
}

.product-callouts ul li::marker {
  font-size: 1.5em;
}

{% endstyle %}

{%schema%}
{
  "name": "Staff List",
  "tag":"section",
  "class":"staff-list",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Staff List"
    }
  ],
  "blocks": [
    {
      "name": "Staff Member Detail",
      "type": "staff_detail",
      "settings": [
        {
          "type": "text",
          "id": "name",
          "label": "Name"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "bio",
          "label": "bio"
        }
      ]
    }
  ],
  "default": {
      "settings":{
        "title":"Staff List"
      },
      "blocks":[
        {"type":"staff_detail"},
        {"type":"staff_detail"},
        {"type":"staff_detail"}
      ]
  },
  "templates" : ["page"]
}
{%endschema%}