<div class="navbar navbar-expand-lg fixed-top continer top-nav">
    <div class="content-body-wrapper container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{{'navigation-purteq-logo.svg'|asset_url}}" alt="" class="d-inline-block align-top logo">
      </a>
      <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        
      </button>
      <button class="btn float-end d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#offcanvas">
          <i class="bi bi-list fs-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvas"></i>
      </button>
      

      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">

          {% for link in section.settings.menu.links %}
            {% assign child_list_handle = link.title | handleize %}
            {% if link.links != blank %}
              <li class="nav-item dropdown">
                <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle {% if link.active %}active{% endif %}" id="navbarDropdown">{{ link.title }}</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% for childlink in link.links %}
                  <li><a href="{{ childlink.url }}" class="dropdown-item">{{ childlink.title | escape }}</a></li>
                  {% endfor %}
                </ul>
            </li>

            {% else %}
              <li class="nav-item">
                <a href="{{ link.url }}" class="nav-link  {% if link.active %}active{% endif %}">{{ link.title }}</a>
              </li>
            {% endif %}
          {% endfor %}
          <!--  
          <li class="navbar-nav">
            <a href="/cart" class="nav-link">Cart</a>
          </li>
        -->
          {% if shop.customer_accounts_enabled %}
            {% if customer %}
            <li>
              <a href="/account" class="nav-link">account</a>
            </li>
              {{ 'log out'  | customer_logout_link }}
            {% else %}
            <li class="navbar-nav">
              <a href="{{ customer_login_link.url }}" class="nav-link {% if customer_login_link.active %}active{% endif %}">Log In</a>
            </li>
            {% endif %}
          {% endif %}
          
        </ul>



      </div>

  </div>
</div>
<div class="offcanvas offcanvas-start w-50 side-nav" tabindex="-1" id="offcanvas">
  <div class="offcanvas-header">
   
    <h6 class="offcanvas-title d-none d-sm-block" id="offcanvas">&nbsp;</h6>
   
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body px-0">
    <ul class="nav flex-column mb-sm-auto mb-0 align-items-start" id="menu">
      {% for link in section.settings.menu.links %}
        {% assign child_list_handle = link.title | handleize %}
        {% if link.links != blank %}
          <li >
            <a href="{{ link.url }}" data-bs-toggle="collapse"  class="nav-link collapsed {% if link.active %}active{% endif %}" data-bs-target="#sidebar-menu-{{ link.id }}">
              {{ link.title }} 
              <i class="bi bi-caret-right-fill collapsed-icon"></i>
              <i class="bi bi-caret-down-fill  expanded-icon"></i>
            </a>
            <ul class="collapse nav flex-column ms-3" aria-labelledby="navbarDropdownMenuLink" id="sidebar-menu-{{ link.id }}">
              {% for childlink in link.links %}
              <li class="w-100"><a href="{{ childlink.url }}" class="nav-link">{{ childlink.title | escape }}</a></li>
            {% endfor %}
            </ul>
        </li>

        {% else %}
          <li class="nav-item">
            <a href="{{ link.url }}" class="nav-link  {% if link.active %}active{% endif %}">{{ link.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
      {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <li class="nav-item">
          <a href="/account" class="nav-link">account</a>
        </li>
        <li class="nav-item"></li>
          {{ 'log out'  | customer_logout_link }}
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{{ customer_login_link.url }}" class="nav-link {% if customer_login_link.active %}active{% endif %}">Log In</a>
        </li>
        {% endif %}
      {% endif %}
       
    </ul>
</div>
</div>

{% style %}
  @font-face {
    font-family: 'Bank Gothic Pro Medium Cond';
    src: local('Bank Gothic Pro Medium Cond'), local('BankGothicPro-MediumCond'),
        url('{{'BankGothicPro-MediumCond.woff2'|asset_url}}') format('woff2'),
        url('{{'BankGothicPro-MediumCond.woff'|asset_url}}') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }  
{% endstyle %}

{% stylesheet %}
  .side-nav .nav-link.collapsed .expanded-icon {
    display: none;
  }
  .side-nav .nav-link:not(.collapsed) .collapsed-icon {
    display: none;
  }
  .navbar img.logo{
    margin: -1rem 0 -1.5rem 0;
    height: 106px;
  }
  
  .top-nav {
    min-height:107px;
    width:100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    font-family: 'Bank Gothic Pro Medium Cond'; 
    font-weight: 500; 
    font-style: normal;
    
  }
  @media (max-width: 992px) {
    .top-nav {
      min-height:inherit;
      padding:0;
    }
    .navbar img.logo {
      height: 80px;
    }
  }
  .top-nav .nav-link, .side-nav .nav-link  {
    padding: 6px 12px;
    text-transform:uppercase;
    font-size: 1.1rem;
    
    color: var(--theme-color-body-text);
  }

  .top-nav .navbar-nav .nav-item:not(:last-child) {
    margin: 0 16px 0 0;
  }

  .top-nav .nav-link:link,
  .top-nav .nav-link:visited,
  .top-nav .nav-link:active,
  .side-nav .nav-link:link,
  .side-nav .nav-link:visited,
  .side-nav .nav-link:active,
  {
    text-decoration: none;
    color:#65665d;
    
  }

  .top-nav .nav-link:hover,
  .side-nav .nav-link:hover {
    color: white !important;
    background-color: var(--theme-color-primary);
  }

  .top-nav .nav-link.active,
  .side-nav .nav-link.active  {
    text-decoration:underline;
    text-underline-offset: .1rem;
    text-decoration-thickness: .15rem;
    color:var(--theme-color-primary);
  }

  
{% endstylesheet %}



{% schema %}
{
  "name": "Top Nav",
  "settings": [
    
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "Main Menu"
    }
    
  ]
}
{% endschema %}
